<html>
<head>
  <title>Search Page</title>
  <!-- Load Scripts  -->
  {% block scripts %} {% endblock %}
</head>

<body>
  <div class="container-fluid">
    {% block header %} {% endblock %}

    <div class="container options">
      {% block options %} {% endblock %}
    </div>

    <div class="all">
      <!-- CONTACTS -->
      {% block contacts %} {% endblock %}

      <!-- DONORS -->
      {% block donors %} {% endblock %}
      
      <!-- SPONSORS -->
      {% block sponsors %} {% endblock %}
        
      <!-- STUDENTS  -->
      {% block students %} {% endblock %}

      <!-- VOLUNTEERS  -->
      {% block volunteers %} {% endblock %}

      <!-- CONTRIBUTIONS  -->
      {% block contributions %} {% endblock %}
    </div>

  </div>
</body>
</html>
